.homepage-container{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side{
    flex:1;
    height:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding:0 7rem;
    gap:20px;
}

.left-side h1{
    color: rgb(26, 26, 26);
    font-size:60px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2px;
}

.left-side p{
    width: 100%;
    letter-spacing:1px;
    font-size: 20px;
    font-weight: 500;
}

.left-side .buttons-container{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap:20px;
}

.left-side .buttons-container button{
    width:210px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: var(--color_4);
    color:white;
    padding: 5px 3px;
    border:none;
    transition: 0.35s ease;
    cursor: pointer;
}

.left-side .buttons-container button:hover{
    color: var(--color_4);
    background-color:white;
    padding:4px 1px;
    border: 1px solid var(--color_4);
}

.right-side{
    position: relative;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img{
    height:400px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }
    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
        transform: translatey(-20px);
    }
    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }
}